1. У пользователя обновляется ежемесячно общий счет на 100 рублей
2. 



.env 
Если я тестирую и запускаю что угодно локально необходимо использовать localhost, иначе
то имя, которое указано в docker_compose.yml
rabbitmq
bd