1. У пользователя обновляется ежемесячно общий счет на 100 рублей
2. 



.env 
Если я тестирую и запускаю что угодно локально необходимо использовать localhost, иначе
то имя, которое указано в docker_compose.yml
rabbitmq
bd

Если не работает БД. Проверить на localhost + проверить что сервис posgtesql диспетчер задач оставлен


Всегда возвращается токен после авторизации и далее обновляем каждый раз



TODO сделать демон на возврат средств



CMD ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]